@import '@fortawesome/fontawesome-free/css/all.min.css';
@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));

/* 
.reset-tailwind,
.reset-tailwind * {
    all: unset !important;
} */
.no-tailwind,
.no-tailwind * {
    all: revert;
}

.no-tailwind img {
    max-width: 100%;
    height: auto;
}